{% extends 'base.html.twig' %}

{% block title %}Hello Game Master!{% endblock %}


{% block body %}
    <div id="content">
        <div id="menu">
            {{ form_start(form) }}


            <div class="col">
                <label for="form_difficulty">Difficulty</label>
                <div id="frame-1">
                    {{ form_widget(form.difficulty, { 'attr': {'id': 'difficulty', 'min': 0, 'max': 100}, 'oninput': 'updateTextInput(this.value)'}) }}

                </div>

                <div>
                    <span id="rangeValue">{{ form.vars.value.difficulty is not null ? form.vars.value.difficulty : '50' }}</span>

                </div>



                {% for child in form.children %}
                    {% if child.vars.name starts with 'button_' %}
                        {{ form_widget(child) }}
                    {% endif %}
                {% endfor %}
            </div>


            {{ form_end(form) }}
        </div>
        <script src="{{ asset('your_script.js') }}"></script>


        <div id="results">
            {% if rollResult is not null %}
                <div id="rand-response" class="flexed">
                    <h1>{% if rollResult %}✅Winner{% else %}❌Looser{% endif %}! </h1>
                    <p>Response : {% if rollResult %}true{% else %}false{% endif %}</p>
                    <p>Game Master use a <b>{{ objectChoice }}</b>
                        {% if objectChoice != "Coin" %}
                            of {{ maxValue }}
                        {% endif %}
                    </p>
                    <p>He's got a <b>{{ value }}</b> with a difficulty test of <b>{{ crtRate }}</b> %</p>
                </div>
            {% else %}
                1
            {% endif %}
        </div>
    </div>
{% endblock %}
