{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <button type="button" onclick="location.href = '{{ path('user_create') }}';">Create User</button>
    <button type="button" onclick="location.href = '{{ path('user_list_role', {'role' : 'ROLE_USER'}) }}';">ROLE_USER</button>
    <button type="button" onclick="location.href = '{{ path('user_list_role', {'role' : 'ROLE_ADMIN'}) }}';">ROLE_ADMIN</button>
    <button type="button" onclick="location.href = '{{ path('user_list_role', {'role' : 'ROLE_SUPER_ADMIN'}) }}';">ROLE_SUPER_ADMIN</button>
    {%  if edit_mode is defined %}
    <form>

        <input type="text" value="{{ user.firstname }}"></input>
        <input type="text" value="{{ user.lastname }}"></input>
        <input type="email" value="{{ user.email }}"></input>
        <input type="password" value="{{ user.password }}"></input>
        <input type="checkbox">
        {% for role in user.roles %}
                <td>{{ role }}</td>
            {% endfor %}
        <button type="button" onclick="location.href = '{{ path('user_save', {'id' : user.id}) }}';">Save</button>

    </form>
        {%  else %}
        <table>
            <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Roles</td>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>

                    {% for role in user.roles %}
                        <td>{{ role }}</td>
                    {% endfor %}

                <td><button type="button" onclick="location.href = '{{ path('user_edit', {'id' : user.id}) }}';">Edit</button></td>
                <td><button type="button" onclick="location.href = '{{ path('user_delete', {'id' : user.id}) }}';">Delete</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

</div>
{% endblock %}
